[submodule "lmdb"]
	path = lmdb
	url = git@github.com:aaraujo-main/lmdb.git
[submodule "lmdbxx"]
	path = lmdbxx
	url = git@github.com:aaraujo-main/lmdbxx.git
[submodule "tclxx"]
	path = tclxx
	url = git@github.com:aaraujo-main/tclxx.git
